/* Overall interface basic style */

body {
	background-color: #080a12;
	color: #636363;
	z-index: -99999;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

button,input {
	background-color: #636363;
	color: #000;
}
button:disabled,input:disabled {
	color: #888;
}

#hide_wrapper {
	display: none;
	z-index: -99999;
}
