/* Post-login campaign selection interface */

#campaigns {
	background-color: #080a12;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 99999;
}

#campaigns>div {
	background-color: #1b2340;
	margin-top: 5em;
	margin-left: auto;
	margin-right: auto;
	width: 20em;
	height: 14em;
	overflow: auto;
	z-index: 100000;
	text-align: center;
}

#campaigns_loading {
	text-align: center;
	font-size: 120%;
	font-weight: bold;
	margin-top: 4em;
}

#campaigns_campaigns {
	display: none;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 100%;
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
}

#campaigns_campaigns button {
	display: block;
	width: 90%;
	margin-top: 0.5em;
	margin-left: auto;
	margin-right: auto;
}
