/* Dice rolling modal */

#modal_modal.rolldice label {
	display: block;
}

#modal_modal.rolldice input {
	margin-left: 2em;
	margin-bottom: 0.2em;
}

#modal_modal.rolldice button.rolldice_dialog_button {
	margin-right: 0.5em;
	float: right;
	display: block;
}

#modal_modal.rolldice #rolldice_error {
	clear: both;
	margin-top: 1em;
	width: 100%;
	text-align: center;
	color: #781949;
}

#modal_modal.rolldice>div>div {
	margin-bottom: 0.5em;
}

#modal_modal.rolldice>div>div>button {
	margin-right: 0.5em;
}
