/* Login interface */

#login {
	background-color: #080a12;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 100001;
}

#login>div {
	background-color: #1b2340;
	padding-top: 2em;
	margin-top: 5em;
	margin-left: auto;
	margin-right: auto;
	width: 20em;
	height: 14em;
	z-index: 100002;
}

#login>div label {
	display: block;
	margin-left: 2em;
	margin-top: 0.6em;
}
#login>div input {
	display: block;
	margin-left: 3em;
}
#login>div button {
	display: block;
	margin-left: auto; 
	margin-right: 2em;
	margin-top: 2em;
}

#login>div #login_error {
	margin-top: 1em;
	width: 100%;
	text-align: center;
	color: #781949;
}
