/* Basic modal style */

#modal {
	display: none;
}

#modal_tint {
	background-color: rgba(8, 10, 18, 0.90);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 310000;
}

#modal_modal {
	background-color: #1b2340;
	padding: 1em;
	position: absolute;
	top: 5em;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 30em;
	height: 19em;
	z-index: 310001;
}
