/* Notification mini boxes and notification and direct message modals */

div#notifications {
	position: absolute;
	max-width: 25em;
	max-height: 95%;
	top: 0.5em;
	left: 0.5em;
	z-index: 99996;
	background-color: #ff8888;
	border-radius: 0.5em;
	color: #000000;
	overflow-y: auto;
	user-select: none;
}

div#notifications .notification {
	margin: 0.5em;
}

div#notifications .notification_wrapper {
	border-radius: 0.5em;
	padding: 0.25em;
	background-color: #aa5555;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

div#notifications .notification_dismiss {
	color: #883322;
	cursor: pointer;
}

div#notifications .notification_text {
	cursor: pointer;
}

div#modal_modal.notification pre {
	width: 100%;
	height: 16.5em;
	overflow-y: auto;
}

div#modal_modal.notification button {
	margin-top: 0.5em;
	margin-right: 0.5em;
	float: right;
	display: block;
}

#modal_modal.directmessage label {
	display: block;
}

#modal_modal.directmessage textarea {
	margin-left: 2em;
	margin-bottom: 0.2em;
	width: 33em;
	height: 18.5em;
	resize: none;
}

#modal_modal.directmessage button {
	margin-top: 1em;
	margin-right: 0.5em;
	float: right;
	display: block;
}
