/* Quick menu modal */

#modal_modal.quick_menu_modal input[type="text"] {
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}

#modal_modal.quick_menu_modal #quick_menu_modal_box {
	margin-top: 0;
	padding: 0.25em;
	border: 1px solid #000000;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	overflow-y: auto;
	height: 14em;
}

#modal_modal.quick_menu_modal .quick_menu_modal_row {
	clear: both;
	display: block;
	width: 100%;
	white-space: nowrap;
	color: #636363;
	text-decoration: none;
	overflow: hidden;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	border-bottom: 1px solid #333333;
	cursor: pointer;
}

#modal_modal.quick_menu_modal .quick_menu_modal_row.hidden {
	display: none;
}

#modal_modal.quick_menu_modal .quick_menu_modal_row .quick_menu_modal_name {
	display: block;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
}

#modal_modal.quick_menu_modal .quick_menu_modal_row .quick_menu_modal_key {
	display: block;
	float: right;
	width: auto;
}

#modal_modal.quick_menu_modal button {
	margin-top: 1em;
	float: right;
}
