/* Basic sidepanel style */

#sidepanel {
	background-color: #1b2340;
	width: 20em;
	position: absolute;
	right: 0.25em;
	top: 0.25em;
	bottom: 0.25em;
	display: none;
	z-index: 99996;
}

#sidepanel_button {
	display: block;
	background-color: #ffffff;
	border: 1px solid #000;
	width: 2em;
	height: 2em;
	cursor: pointer;
	position: absolute;
	top: 0.75em;
	right: 0.75em;
	z-index: 99998;
}

#sidepanel_title {
	position: absolute;
	top: 1em;
	right: 0;
	text-align: center;
	width: 20em;
	z-index: 99997;
}

#sidepanel_back_button {
	display: block;
	visibility:hidden;
	background-color: #ffffff;
	border: 1px solid #000;
	position: absolute;
	width: 2em;
	height: 2em;
	right: 19.5em;
	top: 0.5em;
	z-index: 99998;
}

#sidepanel_buttons {
	margin-top: 3em;
	margin-left: 2em;
	margin-right: 2em;
	width: 80%;
}
#sidepanel_buttons button {
	width: 100%;
	text-align: center;
	margin-bottom: 0.5em;
}

#sidepanel_content {
	margin-top: 3em;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 4em;
	max-height: calc(100% - 4em);
}
