/* Basic table and canvas style */

#table {
	position: absolute;
	width: 100%;	
	height: 100%;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

#table_loading {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 50000;
	background-color: #080a12;
	padding-top: 8em;
	text-align: center;
	font-size: 120%;
	font-weight: bold;
}

#table_canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 49999;
	cursor: grab;
}
