<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ .Title }}</title>

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />

		{{range .Css}}
			<link rel="stylesheet" type="text/css" href="{{$.CssRoot}}{{.}}" />
		{{end}}

		{{range .Js}}
			<script langauge="text/javascript" src="{{$.JsRoot}}{{.}}"></script>
		{{end}}
	</head>
	<body>
		<div id="hide_wrapper">
			<div id="login">
				<div>
					<label for="username">Username:</label>
					<input type="text" name="username" id="login_username" />
					<label for="password">Password:</label>
					<input type="password" name="password" id="login_password" />
					<div id="login_error">&nbsp;</div>
					<button id="login_login">Login</button>
				</div>
			</div>

			<div id="campaigns">
				<div>
					<div id="campaigns_loading">Loading.</div>
					<div id="campaigns_campaigns"></div>
				</div>
			</div>

			<div id="table">
				<div id="table_loading">Loading.</div>
				<canvas id="table_canvas" />
			</div>

			<div id="modal">
				<div id="modal_tint"></div>
				<div id="modal_modal"></div>
			</div>

			<div id="notifications">
			</div>

			<button id="sidepanel_button">+</button>
			<div id="sidepanel">
				<div id="sidepanel_title"></div>
				<button id="sidepanel_back_button">&lt;</button>
				<div id="sidepanel_buttons"></div>
				<div id="sidepanel_content"></div>
			</div>
		</div>
	</body>
</html>
