/* Drawing modal */

#modal_modal.drawing label {
	display: block;
	clear: both;
}

#modal_modal.drawing .drawing_modal_colorbox {
	margin-left: 2em;
	margin-bottom: 0.2em;
}

#modal_modal.drawing input[type="radio"].drawing_modal_color {
	appearance: none;
	width: 1em;
	height: 1em;
}

#modal_modal.drawing input[type="radio"].drawing_modal_color:checked {
	border: 2px solid #ffffff;
}

#modal_modal.drawing .drawing_modal_transforms {
	margin-top: 0.2em;
	margin-right: 0.5em;
	margin-left: 2em;
}
#modal_modal.drawing .drawing_modal_transforms button {
	margin-right: 0.5em;
}

#modal_modal.drawing .drawing_modal_buttons button {
	margin-top: 1em;
	margin-right: 0.5em;
	float: right;
	display: block;
}
