/* Image modal */

#modal_modal.image label {
	display: block;
	clear: both;
}

#modal_modal.image button[name="image_modal_zoom_in"] {
	display: block;
	margin-left: 2em;
	float: left;
}
#modal_modal.image button[name="image_modal_zoom_out"] {
	display: block;
	margin-left: 0.5em;
	float: left;
}

#modal_modal.image input[type="checkbox"] {
	display: block;
	margin-left: 2em;
}

#modal_modal.image button[name="image_modal_delete"] {
	margin-top: 1em;
	margin-right: 0.5em;
	float: right;
	display: block;
}
#modal_modal.image button[name="image_modal_exit"] {
	margin-top: 1em;
	margin-right: 0.5em;
	float: right;
	display: block;
}
