/* Label modal */

#modal_modal.label label {
	display: block;
	clear: both;
}

#modal_modal.label .label_modal_foreground_box, #modal_modal.label .label_modal_background_box {
	margin-left: 2em;
	margin-bottom: 0.2em;
}

#modal_modal.label input[type="radio"].label_modal_foreground_color, #modal_modal.label input[type="radio"].label_modal_background_color {
	appearance: none;
	width: 1em;
	height: 1em;
}

#modal_modal.label input[type="radio"].label_modal_foreground_color:checked, #modal_modal.label input[type="radio"].label_modal_background_color:checked {
	border: 2px solid #ffffff;
}

#modal_modal.label button[name="label_modal_zoom_in"] {
	display: block;
	margin-left: 2em;
	float: left;
}
#modal_modal.label button[name="label_modal_zoom_out"] {
	display: block;
	margin-left: 0.5em;
	float: left;
}

#modal_modal.label button {
	margin-top: 1em;
	margin-right: 0.5em;
	float: right;
	display: block;
}
