/* Map and map delete confirmation modals */

#modal_modal.map_modal label {
	display: block;
	clear: both;
}

#modal_modal.map_modal .map_modal_colorbox {
	margin-left: 2em;
	margin-bottom: 0.2em;
}

#modal_modal.map_modal input[type="radio"].map_modal_color {
	appearance: none;
	width: 1em;
	height: 1em;
}
#modal_modal.map_modal input[type="radio"].map_modal_color.map_modal_color_transparent {
	background-color: #f0f0f0;
	background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
	background-size: 10px 10px;
	background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
#modal_modal.map_modal input[type="radio"].map_modal_color:checked {
	border: 2px solid #ffffff;
}

#modal_modal.map_modal input[type="radio"].map_modal_mode {
	margin-left: 2em;
}

#modal_modal.map_modal input[type="checkbox"]#map_modal_locked {
	margin-left: 2em;
}

#modal_modal.map_modal button {
	margin-top: 1em;
	margin-right: 0.5em;
	float: right;
	display: block;
}

#modal_modal.delete_map label {
	display: block;
}

#modal_modal.delete_map button {
	margin-top: 1em;
	margin-right: 0.5em;
	float: right;
	display: block;
}
