/* Rectangle modal */

#modal_modal.rectangle label {
	display: block;
	clear: both;
}

#modal_modal.rectangle .rectangle_modal_colorbox {
	margin-left: 2em;
	margin-bottom: 0.2em;
}

#modal_modal.rectangle input[type="radio"].rectangle_modal_color {
	appearance: none;
	width: 1em;
	height: 1em;
}

#modal_modal.rectangle input[type="radio"].rectangle_modal_color:checked {
	border: 2px solid #ffffff;
}

#modal_modal.rectangle input[type="checkbox"] {
	display: block;
	margin-left: 2em;
}

#modal_modal.rectangle button {
	margin-top: 1em;
	margin-right: 0.5em;
	float: right;
	display: block;
}
