/* Token modal */

#modal_modal.token_modal .token_modal_canvas {
	display: block;
	height: 100%;
	width: 11em;
	float: left;
}

#modal_modal.token_modal .token_modal_form {
	padding-left: 2em;
	float: left;
	max-width: 16em;
}

#modal_modal.token_modal label {
	display: block;
	clear: both;
}

#modal_modal.token_modal input[type="text"] {
	display: block;
	margin-left: 2em;
	margin-bottom: 0.2em;
}
#modal_modal.token_modal input[type="number"] {
	display: inline-block;
	width: 39%;
	margin-bottom: 0.2em;
}
#modal_modal.token_modal #token_modal_width {
	margin-left: 2em;
}
#modal_modal.token_modal #token_modal_height {
	margin-left: 0.2em;
}
#modal_modal.token_modal input[type="checkbox"] {
	display: block;
	margin-left: 2em;
	margin-bottom: 0.2em;
}
#modal_modal.token_modal .token_modal_colorbox {
	margin-left: 2em;
	margin-bottom: 0.2em;
	max-width: 11.5em;
}

#modal_modal.token_modal input[type="radio"] {
	appearance: none;
	width: 1em;
	height: 1em;
}
#modal_modal.token_modal input[type="radio"].token_modal_color_transparent {
	background-color: #f0f0f0;
	background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
	background-size: 10px 10px;
	background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
#modal_modal.token_modal input[type="radio"]:checked {
	border: 2px solid #ffffff;
}

#modal_modal.token_modal button {
	margin-top: 1em;
	margin-right: 0.5em;
	float: right;
	display: block;
}
