/* Account sidepanel */

#sidepanel_content.account button {
	display: block;
	width: 100%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#sidepanel_content.account a {
	display: block;
	margin-left: 2em;
	cursor: pointer;
}

#modal_modal.change_display_name label {
	display: block;
}

#modal_modal.change_display_name input {
	margin-left: 2em;
	margin-bottom: 0.2em;
}

#modal_modal.change_display_name button {
	margin-top: 1em;
	margin-right: 0.5em;
	float: right;
	display: block;
}

#modal_modal.change_pw label {
	display: block;
}

#modal_modal.change_pw input {
	margin-left: 2em;
	margin-bottom: 0.2em;
}

#modal_modal.change_pw button {
	margin-top: 1em;
	margin-right: 0.5em;
	float: right;
	display: block;
}
