/* Images sidepanel */

#sidepanel_content.images {
	overflow-y: auto;
}

#sidepanel_content.images button {
	display: block;
	margin-bottom: 0.5em;
	width: 100%;
}

#sidepanel_content.images a {
	display: block;
	margin-bottom: 0.5em;
}

#sidepanel_content.images img {
	height: 3em;
	width: 3em;
	object-fit: contain;
	vertical-align: middle;
	margin-right: 0.5em;
}

#modal_modal.fetch_image_modal label {
	display: block;
}

#modal_modal.fetch_image_modal input {
	display: block;
	margin-left: 2em;
}

#modal_modal.fetch_image_modal button {
	margin-top: 1em;
	margin-right: 0.5em;
	float: right;
	display: block;
}

#modal_modal.fetch_image_modal #fetch_image_modal_error {
	margin-top: 1em;
	width: 100%;
	text-align: center;
	color: #781949;
	clear: both;
}

#modal_modal.image img {
	display: block;
	width: 100%;
	height: 13.5em;
	object-fit: contain;
	vertical-align: middle;
}

#modal_modal.image button {
	margin-top: 1em;
	margin-right: 0.5em;
	float: right;
	display: block;
}

#modal_modal.image label {
	display: block;
	clear: both;
}

#modal_modal.image input[type="text"] {
	display: block;
	margin-left: 2em;
}
