/* Pocket sidepanel */

#sidepanel_content.pocket {
	overflow-y: auto;
}

#sidepanel_content.pocket a {
	display: block;
	margin-bottom: 0.5em;
}

#sidepanel_content.pocket img {
	height: 3em;
	width: 3em;
	object-fit: contain;
	vertical-align: middle;
	margin-right: 0.5em;
}
