/* Scenes sidepanel */

#sidepanel_content.scenes {
	overflow-y: auto;
}

#sidepanel_content.scenes button {
	display: block;
	width: 100%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#sidepanel_content.scenes a {
	display: block;
	margin-bottom: 0.5em;
}

#sidepanel_content.scenes a.scene_loaded_scene {
	color: #a6a6a6;
	font-weight: bold;
}
#sidepanel_content.scenes a.scene_loaded_scene::before {
	color: #a6a6a6;
	content: ">";
}
#sidepanel_content.scenes a.scene_campaign_scene::after {
	content: " (campaign)";
	font-size: 80%;
	opacity: 80%;
}

#modal_modal.new_scene label {
	display: block;
}

#modal_modal.new_scene input {
	display: block;
	margin-left: 2em;
}

#modal_modal.new_scene button {
	margin-top: 1em;
	margin-right: 0.5em;
	float: right;
	display: block;
}

#modal_modal.scene label {
	display: block;
	clear: both;
}

#modal_modal.scene input[type="text"] {
	display: block;
	margin-left: 2em;
}

#modal_modal.scene button {
	margin-top: 1em;
	margin-right: 0.5em;
	float: right;
	display: block;
}
