/* Tools sidepanel */

#sidepanel_content.tools button {
	display: block;
	width: 100%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#modal_modal.delete_map label {
	display: block;
}

#modal_modal.delete_map button {
	margin-top: 1em;
	margin-right: 0.5em;
	float: right;
	display: block;
}
